.maincontain{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pimg{
    position: fixed;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.im{
    position: sticky;
    height: 4rem;
    
}
.ptext{
    
    font-size: 1.3rem;
    font-weight: 350;
    color: white;
    
}

.pimg:hover .ptext{
    display: flex;
    color: black;
}