.wpetals{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 0;
}

.whcontain{
    margin-top: 0;
    padding-top: 0;
}
.stext{
    width: 90%;
    margin: auto;
    margin-top: 4%;
    font-family: "Baskerville Old Face", serif;
}

.satext{
    width: 90%;
    margin: auto;
    font-family: "Baskerville Old Face", serif;
}

