.about{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 2rem;
    margin-bottom: 4rem;
}

.abtl{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 0.6rem;
    

}

.abtr{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem   ;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    

}

.abtz{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
}

.prihead{
    font-size: 1.2rem;
    font-family: "Baskerville Old Face", serif;
    

}

.sechead{
    font-size: 1.2rem;
    font-family: "Baskerville Old Face", serif;
    color: gray;
}

.abthead{
    font-family: "Baskerville Old Face", serif;
    font-size: 3rem;
    color: gray;
    letter-spacing: 0.035rem;
}

.abtxt{
    font-family: "Baskerville Old Face", serif;
}