.scroll {
    margin-top: 11rem;
    margin-bottom: 3rem;
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
  }
  
 .scroll a {
    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  

  .scroll::-webkit-scrollbar {
    display: none;
  }
/* .scroll a:hover {
    background-color: #777;
  } */